<div class="row-fluid">
    <h4 class="span8">My Favourite Movies:</h4>
    
    <form class="form-inline span4">
        <div class="pull-right">
        <label>Filter By:</label>
        <select id="filter">
            <option value="all">All</option>
            <option value="unwatched">Unwatched</option>
            <option value="watched">Watched</option>
        </select> 
            
            
        </div>
        
    </form>
    
</div>

<ul id="favourites" class="thumbnails"></ul>
