<div class="navbar">
    <div class="navbar-inner">
        
        <span class="brand">Cinephile</span>
        
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        
        <ul id="top-nav" class="nav nav-collapse collapse">
            <li id="nav-home"><a href="#/">Home</a></li>
            <li id="nav-favourites"><a href="#/favourites">My Favourites</a></li>
        </ul>
        
        <div id="search"></div>
        
    </div>
</div>