<div class="hero-unit">
    <div class="row-fluid">
        <div class="span8">
        
            <div class="clearfix">
                <h2>Welcome to Cinephile</h2>
                
                <p>Cinephile is a sample Javascript application that lets you keep a list of your favourites films and makes suggestions for other films that you might enjoy.</p>
                
                <p class="text-center">
                    <a class="btn btn-primary btn-large" href="#/favourites">Get Started!</a>
                </p>
                
            </div>
            
            <div id="app-details">
                
                <p>Cinephile is a sample Javascript application used to illustrate development with the following technologies:</p>
                <ul>
                    <li><a href="http://yeoman.io/">Yeoman</a></li>
                    <li><a href="http://gruntjs.com/">Grunt</a></li>
                    <li><a href="http://bower.io/">Bower</a></li>
                    <li><a href="http://backbonejs.org/">Backbone.js</a></li>
                    <li><a href="http://getbootstrap.com/2.3.2/">Twitter Bootstrap</a></li>
                </ul>
                
            </div>
            
        </div>
        
        <img class="span4" src="images/movie_clapper.png"/>
        
    </div>
</div>

<div class="row-fluid">
    <div class="span4">
        
        <h4 class="about"><i class="icon-user"></i> About the Author</h4>
        
        <p>My name is Adam Petrie and I am a web application developer from Toronto Ontario. I love clean code, mornings and music.</p>
        <p>Visit me at <a href="http://adampetrie.com">adampetrie.com</a>.</p>
        
    </div>
    
    <div class="span4">
        
        <h4 class="about"><i class="icon-hdd"></i> About The App</h4>
        
        <p>Cinephile is a demo-app for anyone interested in Javascript application development. The app uses backbone.js as well as a third party API and stores your favourite movies in localStorage.</p>
        <p>You can browse the source code on github <a href="https://github.com/adampetrie/cinephile">here</a>.</p>
        
    </div>
    
    <div class="span4">
        
        <h4 class="about"><i class="icon-film"></i> About the Movies</h4>
        
        <p>All movie data is provided by <a href="http://www.themoviedb.org/">themoviedb.org</a>. Many thanks to everyone who contributes to it.</p>
        <p>A special thanks to <a href="https://github.com/glamorous">@glamorous</a> for his PHP TMDb API wrapper class.</p>
        
    </div>
</div>


