<div class="details clearfix">
    <img class="span3" src="<%= tmdbBaseUrl + tmdbPosterSizes[0] + data.poster_path %>" />
    <div class="span9">
        <h5><%= data.title %></h5>
        <a class="btn btn-success btn-small" href="#/favourites"><i class="icon-heart icon-white"></i> Add To Favourites</a>
    </div>
</div>
