<form id="search-results" class="navbar-search form-search dropdown pull-right">
    
    <div class="input-append">
        <input id="movie-title" class="search-query" type="text" placeholder="Search for a Movie..." autocomplete="off"/>
        <button type="submit" class="btn btn-primary dropdown-toggle">Search</button>
    </div>
    
    <ul class="dropdown-menu"></ul>

</form>